# notebook-related files
**.ipynb_checkpoints

# compiled python
**.pyo
**.pyc

# pdfs and images
**.pdf
**.png
**.jpg
**.svg

# vscode config files
**.vscode**

# data files
**.root
**.awkd

# a personal to-do list
progress.txt

# python file for testing purposes
test.py

# model files
**.json
**.h5
**.csv

# don't save numpy arrays
**.npy

# don't save changes to the filepath.txt file
filepath.txt
